<!-- <app-header />
<ng-container *ngIf="!formShown">
  <div class="container">
  <div class="row justify-content-center gap-5">
    <app-card *ngFor="let post of posts" [posts]="posts" class="col-6"/>
  </div>
</div>
</ng-container>
<app-footer/>
<app-input-output/>
 <app-post-form *ngIf="formShown"/> -->


 <app-header (createPostClicked)="toggleForm()"></app-header>

<ng-container *ngIf="!formShown">
  <div class="container">
    <div class="row justify-content-center gap-5">
      <app-card
        *ngFor="let post of posts"
        [posts]="posts"
        class="col-6">
      </app-card>
    </div>
  </div>
</ng-container>

<app-post-form *ngIf="formShown"></app-post-form>

<app-footer></app-footer>
<app-input-output></app-input-output>
