<div class="container">
  <h1 class="my-5 text-center">Create new post</h1>
<form class="row g-3 align-items-center" [formGroup]="postForm">
<div class="d-flex justify-content-center">
  <label for="add" class="col-form-label">User Name</label>
</div>
<div class="w-100">
  <input type="text" id="add" class="form-control" formControlName="userName" >
</div>


<div class="d-flex justify-content-center">
  <label for="add" class="col-form-label">User Image</label>
</div>
<div class="w-100">
  <input type="text" id="add" class="form-control" formControlName="userImage">
</div>

<div class="d-flex justify-content-center">
  <label for="add" class="col-form-label">Post Description</label>
</div>
<div class="w-100">
  <input type="text" id="add" class="form-control" formControlName="postDescription">
</div>

<div class="d-flex justify-content-center">
  <label for="add" class="col-form-label">Post Image</label>
</div>
<div class="w-100">
  <input type="text" id="add" class="form-control" formControlName="postImage">
</div>
<button class="btn btn-success" (click)="onSumbit()">Add New Post</button>

</form>


